@import '../globals/variables.scss';

.card{
  flex-basis: 33.33333333%;
  perspective: 1000px;

  .card-flipper:hover {
    transform: rotateY(180deg);
  }
}
.card-flipper{
  height: 250px;
  justify-content: space-between;
  margin: 20px;
  position: relative;
	transition: .8s;
	transform-style: preserve-3d;
}
.front, .back{
  backface-visibility: hidden;
  font-size: 1.3em;
	height: 250px;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}
.front{
  background-color: $primary-light;
  border: 1px solid $primary-dark;
  color: $primary-dark;
  padding: 100px 15%;
	transform: rotateY(0deg);

  h3{
    font-family: 'PlayfairDisplay-Regular';
  }
}
.back{
  background-color: $medium-grey;
  border: 1px solid $secondary-dark;
  padding: 50px 15% 100px;
  transform: rotateY(180deg);

  img{
    max-width: 160px;
    max-height: 100px;
    margin: 0 auto 20px;
  }

}

@media (max-width: 768px) {
  .card{
    flex-basis: 50%;

    &.flipped{
      .card-flipper {
        transform: rotateY(180deg);
      }
    }
  }
}

@media (max-width: 480px) {
  .card{
    flex-basis: 100%;
  }
}
