//VARIABLES
$main-text: #1d1d1d;
$main-bg: #f4f4f4;

$primary-dark: #341010;
$primary-medium: #883636;
$primary-light: #b16a6a;

$secondary-dark:#0A2239;
$secondary-light: #53A2BE;

$medium-grey: #e2e2e2;
$light-grey: #efefef;
