.menu-container {
  display: flex;
  flex-grow: 3;
  justify-content: flex-end;
  order: 2; }

nav {
  display: inline-block; }
  nav a {
    color: #1d1d1d;
    display: inline-block;
    font-family: 'Oswald-Regular';
    padding: 10px; }

.nav-container h1, .menu-button {
  display: none; }

.menu-button {
  border: none;
  background-color: transparent; }

.icon-bar {
  background-color: #efefef;
  height: 3px;
  margin: 4px;
  position: relative;
  transform: .8s;
  width: 20px; }

@media (max-width: 768px) {
  .menu-container {
    order: 1;
    width: 50px;
    z-index: 999; }
  .menu-button {
    left: 15px;
    position: fixed;
    transition: all .8s ease-in-out;
    top: 20px; }
  .nav-container h1, .menu-button {
    display: inline-block; }
  .nav-container {
    background-color: #53A2BE;
    height: 100vh;
    left: -260px;
    padding: 30px 15px;
    position: fixed;
    top: 0;
    transition: all .8s ease-in-out;
    width: 260px; }
    .nav-container h1 {
      color: #1d1d1d;
      text-align: center;
      width: 100%; }
      .nav-container h1 span {
        font-size: 1.8em; }
    .nav-container nav {
      margin-top: 30px; }
    .nav-container a {
      display: block;
      padding: 15px; }
  .App.openMenu .menu-button {
    left: 275px; }
    .App.openMenu .menu-button .icon-bar:first-child {
      top: 7px;
      transform: rotate(45deg); }
    .App.openMenu .menu-button .icon-bar:nth-child(2) {
      width: 0; }
    .App.openMenu .menu-button .icon-bar:last-child {
      top: -7px;
      transform: rotate(-45deg); }
  .App.openMenu .nav-container {
    left: 0; } }
